In [189]:
import sys 
import pandas as pd
import joblib
from sklearn.preprocessing import StandardScaler
import numpy as np

In [180]:
cv= "out.csv"
cvdata = pd.read_csv(cv)

In [181]:
# handle object and bool col
for col in cvdata.columns:
    if cvdata[col].dtype=="object":
        cvdata[col]=cvdata[col].replace({"yes":1,"no":0})
    elif cvdata[col].dtype=="bool":
        cvdata[col]=cvdata[col].astype(int)

In [158]:
model =joblib.load("RF_v1.ml")

In [184]:
Sc=StandardScaler()
cvdata=Sc.fit_transform(cvdata)
cvdata

array([[ 0.69894149, -0.32324017,  1.66712012, ..., -0.58423577,
        -0.0955088 , -0.43667564],
       [ 0.16984882, -0.32324017,  1.66712012, ..., -0.58423577,
         1.24598231, -0.43667564],
       [ 0.92569549, -0.32324017, -0.5998368 , ...,  0.22991664,
         0.69597096, -1.20223603],
       ...,
       [-0.98911606, -0.32324017, -0.5998368 , ..., -0.17715957,
         1.20573758, -0.43667564],
       [ 0.2202386 , -0.32324017, -0.5998368 , ...,  0.63699285,
        -0.63210525, -1.20223603],
       [-0.35924384, -0.32324017,  1.66712012, ...,  4.70775494,
        -0.35039211, -1.20223603]])

In [ ]:

for i in range(0,len(cvdata)-1):
    
    res =model.predict(cvdata[i:i+1])

In [220]:
sample = pd.DataFrame(data=cvdata[1:2])
sample

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.169849,-0.32324,1.66712,1.346973,-0.346802,1.158422,-0.347082,-0.101621,0.141693,-0.101089,1.068992,0.154374,1.069818,1.245227,-0.584236,1.245982,-0.436676

In [221]:
sample["17"]=1